.header {
    height: 1700px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    /* background-color: crimson; */
}

.section-header {
    height: 600px;
    width: 100%;
    background-image: url(../img/header-fundo.png);
    background-position: center center;
    background-size: cover;
}

.figure-header {
    margin-left: 50px;
}

.title-header-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 310px;
}

.title-header-img figure {
    display: flex;
    gap: 290px;
}

.title-header-img img {
    height: 80px;
    width: 350px;
}


.Kylo-ren img {
    width: 900px;
    height: 700px;
    position: absolute; 
    top: 1px;
    left: 150px; 
}

.legiao {
    height: 150px;
    width: 180px;
    position: relative;
    top: 340px;
    left: 75%;
}

.legiao p{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.legiao .legiao-span {
    color: #000;
    font-weight: bold;
}

.legiao .legiao-span::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 20px 0px;
}

.legiao .legiao-number {
    font-size: 16px;
}

.legiao button {
    padding: 1px;
    border-radius: 4px;
    border: none;
    background-color: #A9BDC1;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}

/* Estilizando a section-header-menu */

.section-header-menu{
  height: 1300px;
  width: 100%;
  background-image: url(../img/sta-uo-robot.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.main-container {
    height: 200px;
    background-color: #2D2D2D;
}

.card-start-play {
    height: 984px;
    width:  100%;
    position: relative;
    left: 180px;
    top: -30px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.card-start-play img {
    height: 400px;
    width: 320px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
    color: #fff;
    width: 320px;
    position: relative;
    top: -340px;
}

.card-start-play::after {
    content: '';
    display: block;
    width: 85%;
    height: 3px;
    background-color: #707070;
    margin: 20px 0px;
    position: relative;
    top: -1000px;
}
.card-content p {
    font-size: 18px;
    width: 95%;
    margin-left: 10px;
}
.card-content h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.card-content .h3-2 {
  margin-bottom: 20px;
}

.card-content .card-button {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    width: 200px;
    height: 50px;
    margin-top: 70px;
    background-color: inherit;
    border-color: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 250ms;
    overflow: hidden
}
.card-content .card-button a {
    color: #fff;
}
.card-content .card-button:hover {
   transition: box-shadow 5s;
  box-shadow: inset  20vw 0  #CA2911;
}

.card-content .card-date {
    font-size: 10px;
    display: block;
    margin-left: 190px;
    margin-top: 30px;
}

.about-game {
    height: 300px;
    width: 800px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: -500px;
    left: 350px;
}

.about-game h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.about-game span {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #000;
    margin: 20px 0px;
}

.about-game p {
    font-size: 18px;
}

.about-game img {
    width: 350px;
    height: 250px;
}

.about-game-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header span.middle-line {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    background-color: #000;
    margin: 20px 0px;
}

.container-menu {
    display: flex;
    position: relative;
    top: -440px;
    left: -80px;
    height: 500px;
}

.container-menu img {
    height: 650px;
    width: 380px;
}

.container-menu .menu-nav {
    display: flex;
    flex-direction: column;

}

.container-menu .menu-nav p{
    font-size: 40px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}

.container-menu .menu-nav span {
    font-weight: bold;
}

.container-menu .menu-ul {
    font-size: 30px;
    margin-top: 20px;
}

.container-menu .menu-ul li {
    text-transform: uppercase;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.container-menu .menu-ul li:hover {
    background-color: #D74430;
}