

@media(max-width:500px) {
    .title-header-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 120px;
        left: 80px;
        width: 350px;
    }
    
    .title-header-img figure {
        display: flex;
        gap: 150px;
    }
    
    
    .title-header-img img {
        height: 50px;
        width: 60px;
    }
    
    .Kylo-ren img {
        width: 250px;
        height: 270px;
        position: absolute; 
        top: 1px;
        left: 140px; 
    }
    .header {
        height: 1410px;
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
    }

    .legiao {
        height: 100px;
        width: 180px;
        position: relative;
        top: 130px;
        left: 80%;
    }
    
    .legiao p{
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    
    .legiao .legiao-span {
        color: #000;
        font-weight: bold;
    }
    
    .legiao .legiao-span::after{
        content: '';
        display: block;
        width: 38%;
        height: 2px;
        background-color: #000;
        margin: 10px 0px;
    }
    
    .legiao .legiao-number {
        font-size: 10px;
    }
    
    .legiao button {
        padding: 1px;
        border-radius: 4px;
        border: none;
        background-color: #A9BDC1;
        opacity: 1;
        font-weight: bold;
        cursor: pointer;
    }
    
    .section-header {
        height: 600px;
        width: 100%;
        background-image: url(../img/header-fundo.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .section-header-menu{
        height: 1200px;
        width: 100%; 
        background-image: url(../img/sta-uo-robot.png);
        background-size: cover;
      }

      .card-start-play {
        height: 1200px;
        width: 430px;
        position: relative;
        top: 100px;
    }
    
    .card-start-play img {
        height: 330px;
        width: 250px;
        margin-left: 40%;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 280px;
        color: #fff;
        width: 280px;
        margin-left: 40%;
    }
    
    .card-content p {
        font-size: 10px;
        width: 60%;

    }
    .card-content h3 {
        text-transform: uppercase;
        font-size: 18px;
    }
    
    .card-content .h3-2 {
      margin-bottom: 10px;
    }

    .card-start-play::after {
        content: '';
        display: block;
        width: 460px;
        height: 5px;
        background-color: #707070;
        margin: 20px 0px;
        position: relative;
        top: -500px;
    }
    .card-content .card-button {
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        width: 150px;
        height: 40px;
        margin-top: 30px;
        background-color: inherit;
        border-color: #fff;
        position: relative;
        z-index: 1;
        cursor: pointer;
        transition: all 250ms;
        overflow: hidden
    }
    .card-content .card-button a {
        color: #fff;
    }
    .card-content .card-button:hover {
       transition: box-shadow 5s;
       box-shadow: inset  20vw 0  #CA2911;
    }
    
    .card-content .card-date {
        font-size: 10px;
        display: block;
        margin-left: 10px;
        margin-top: 20px;
    }

    .about-game {
        height: 300px;
        width: 470px;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        top: -160px;
        left: -100px;
        margin-left: 13%;
    }
    
    .about-game h2 {
        font-size: 18px;
        text-transform: uppercase;
        text-align: left;
    }
    
    .about-game span {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: #000;
        margin: 20px 0px;
    }
    
    .about-game p {
        font-size: 14px;
    }
    
    .about-game img {
        width: 250px;
        height: 150px;
        position: absolute;
        bottom: 250px;
        right: 4px;
    }
    
    .about-game-content {
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: -200px;
        
} 

.container-menu {
    display: flex;
    position: relative;
    top: -170px;
    left: -130px;
    height: 270px;
    width: 550px;
}

.container-menu img {
    height: 350px;
    width: 170px;
}

.container-menu .menu-nav {
    display: flex;
    flex-direction: column;

}

.container-menu .menu-nav p{
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
}

.container-menu .menu-nav span {
    font-weight: bold;
}

.container-menu .menu-ul {
    font-size: 14px;
    margin-top: 5px;
}

.container-menu .menu-ul li {
    text-transform: uppercase;
    text-align: right;
    margin-top: 10px;
    margin-left: 80px;
    cursor: pointer;
}
.container-menu .menu-ul li:hover {
    background-color: #D74430;
}

}
